header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
}

header .header-container {
    max-width: 1200px;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    gap: 10px;
}

header .header-container img {
    height: 50px;
}

header .header-container button {
    padding: 10px 30px;
    color: #fff;
    background-color: var(--blue);
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border: none;
}

header .header-container button:hover {
    background-color: var(--light-blue);
    transition: .3s ease;
}

header .header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-remaining-counter {
    background: #ff4500 !important;
    border: 2px solid #ff4500 !important;
}

@media (max-width: 1024px) {
    header .header-container img {
        height: 40px;
    }
    
    header .header-container button {
        padding: 8px 24px;
        border-radius: 30px;
        font-size: 14px;
    }

    header .header-container {
        padding: 10px 20px;
    }
}

@media (max-width: 768px) {
    header .header-container img {
        height: 30px;
    }
    
    header .header-container button {
        padding: 8px 20px;
        border-radius: 25px;
        font-size: 12px;
    }

    header .header-container {
        padding: 15px;
    }

    .header-remaining-counter {
        display: none;
    }
}

@media (max-width: 400px) {
    header .header-container img {
        height: 30px;
    }
    
    header .header-container button {
        padding: 6px 15px;
        border-radius: 20px;
        font-size: 10.4px !important;
    }

    header .header-container {
        padding: 10px;
    }
}